# Execute with
# ansible-playbook ansible/service_audiobookshelf/abs_setup.yml -i ansible/hosts -i /home/ramon/secrets/ansible_secrets/.ansible_rg
- name: Create Traefik service
  hosts: my_servers
  vars:
    USERNAME: '{{ secrets.AUDIOBOOKSHELF.USERNAME }}'
    SUBDOMAIN: '{{ secrets.AUDIOBOOKSHELF.SUBDOMAIN }}'
    APPLICATION_PORT: '80'
    # APPLICATION_PORT: '13378'
  tasks:
    - name: Ensure home directory exists
      file:
        path: /home/{{ USERNAME }}
        state: directory

    - name: Ensure audiobooks folder exists
      file:
        path: /home/{{ USERNAME }}/audiobooks
        state: directory

    - name: Ensure podcasts folder exists
      file:
        path: /home/{{ USERNAME }}/podcasts
        state: directory
        
    - name: Copy docker-compose.yml file
      template:
        src: docker-compose.yml
        dest: /home/{{ USERNAME }}/docker-compose.yml

    - name: Run `docker-compose up` again
      community.docker.docker_compose_v2:
        project_src: /home/{{ USERNAME }}
        pull: always